#iphone-notch {
  position: relative;
  bottom: 16px;
  right: 15px;
  width: 304px;
}

#watsonOrb{
  height:80px;
  width:80px;
}

#input{
  margin-left:4px;
  position: absolute;
  bottom:2px;
  z-index: 2000;
}

#input_box{
  width: 100%;
}

#scrolling-chat-box{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 490px;
  padding:0px;
  padding-top:6px;
}

.chatWidget{
  background-color:white;
  margin:0px;
  height:522px;
  width:302px;
  padding-top:8px;
  padding-left:12px;
  padding-right:12px;
}

#chatHeader{
  color:black;
  height:90px;
  background-color:lightgray;
  padding-top:15px;
  margin: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.sub-text{
  font-size:16px;
}

#refreshButton{
  font-size:15px;
  color:white;
  transition: .3s all;
  margin-left:60px;
  cursor:pointer;
  margin-top:9px;
}

#refreshButton:hover{
  font-size:16px;
  color:#D867EF;
}

#refreshButton:active{
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  color:#0EF7C8;
}
