<div class="row" id="chatHeader" [ngClass]="{ logobar: scrolled==true }">
  <div class="container" style="margin-left:15px;margin-right:15px">
    <div class="row" style="margin-top:7px">
      <div class="col-xs-2" style="padding:0px">
        <img src="assets/img/watson_w.png" style="height:55px;width:55px;float:left;position:relative;top:-4px;margin-right:8px">
      </div>
      <div class="col-xs-10">
        <h5 class="sub-text" style="margin-bottom:0px;color:white;margin-top:6px">Ask Watson</h5>
        <p class="sub-text" style="font-size:85%;color:#00B29F;margin-bottom:2px">To deliver the best service</p>
      </div>
    </div>
  </div>
</div>
<div class="row chatWidget">
  <div class="container" id="scrolling-chat-box">
    <wsl-chat-bubble *ngFor='let message of convoArray' [message]="message" (moreResults)="showMore($event)"></wsl-chat-bubble>
  </div>
  <div class="row" id="input">
    <wsl-chat-input (sendMessage)="submitPressed($event)" (textPresent)="postPending($event)" id="input_box"></wsl-chat-input>
  </div>
</div>
