#chat-input  {
  border: 0px;
  border-radius:0px;
  border-bottom: 3px solid gray;
  /* margin-bottom: 1px; */
  width:240px;
  padding:0px;
  font-size:16px;
}

#chat-input:focus{
  border-color:transparent;
  border-bottom: 3px solid #4178be;
  margin-bottom: 0px;
  outline: none;
  outline-style:none;
  box-shadow:none;
}

/deep/ #sendButton{
  background-color:transparent !important;
  border:none !important;
  border-radius:5px !important;
  padding:0px;
  margin-left:6px;
  font-size:25px;
}

/deep/ #sendButton:hover{
  background-color:#E0E0E0;
  border:none;
}
